/.classpath
/.project
/.scala_dependencies
/.settings
target
.DS_Store
.builder-server-properties
.cache
lib_managed/
src_managed/
project/boot/
/.target
/bin
/storage
/testsruntime
randomtests
/patch.txt
builder.log
